@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* app/globals.css */

@keyframes gradient-underline-shift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.underline-gradient {
  position: relative;
}

.underline-gradient::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* Adjust as needed to place the underline slightly below the text */
  width: 100%;
  height: 4px; /* Thickness of the underline */
  background: linear-gradient(
    90deg,
    #ff6347,
    #ffa500,
    #32cd32,
    #1e90ff,
    #ff6347
  ); /* Gradient colors */
  background-size: 200%; /* Increase gradient width for smooth animation */
  animation: gradient-underline-shift 1s infinite linear; /* Adjust speed */
  border-radius: 9999px; /* Rounded underline */
}

/* about us page */
.bg-image {
  position: relative;
  background-image: url("../public/images/What-is-a-Corporation-1024x536.jpg");
  background-size: cover; /* Adjusts image to cover the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    217,
    217,
    217,
    0.7
  ); /* Dark overlay with 70% opacity */
  z-index: 1;
}

.bg-image > * {
  position: relative;
  z-index: 2;
}
